
.btn {
    background-image: none !important;
    border-radius: 10px !important;
    display: inline-block;
    border-color: transparent !important;
}

.btn:hover, .btn:active, .btn:focus {
	border-color: transparent;
}

.btn-default {
	background-color: #FFF !important;
	border-color: #CCC !important;
}

.btn-default:hover {
	background-color: #E6E6E6 !important;
	border-color: #ADADAD !important;
}

.btn-primary {
    background-color: #628599 !important;
}

.btn-success {
    background-color: #62a69a !important;
}

.btn-info {
}

.btn-warning {
    background-color: #e5e388 !important;
    color: #333333 !important;
}

.btn-danger {
    background-color: #ff9999 !important;
}

.btn-success:hover, .btn-success:focus {
    background-color: #538C82 !important;
    color: white !important;
}

.btn-warning:hover, .btn-warning:focus {

}

.btn-danger:hover, .btn-danger:focus {

}