@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("#{resource['fonts/lato-light.woff2']}") format('woff2'),
	   url("#{resource['fonts/lato-light.woff']}") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("#{resource['fonts/lato-regular.woff2']}") format('woff2'),
	   url("#{resource['fonts/lato-regular.woff']}") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("#{resource['fonts/lato-bold.woff2']}") format('woff2'),
       url("#{resource['fonts/lato-bold.woff']}") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("#{resource['fonts/lato-black.woff2']}") format('woff2'),
       url("#{resource['fonts/lato-black.woff']}") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("#{resource['fonts/lato-light-italic.woff2']}") format('woff2'),
       url("#{resource['fonts/lato-light-italic.woff']}") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("#{resource['fonts/lato-italic.woff2']}") format('woff2'),
       url("#{resource['fonts/lato-italic.woff']}") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("#{resource['fonts/lato-bold-italic.woff2']}") format('woff2'),
       url("#{resource['fonts/lato-bold-italic.woff']}") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url("#{resource['fonts/lato-black-italic.woff2']}") format('woff2'),
       url("#{resource['fonts/lato-black-italic.woff']}") format('woff');
}
