@CHARSET "UTF-8";

.dataElementField {
	margin-right: 10px;
	font-size: 11pt;
	background-color: transparent;
}

.ui-selectonemenu {
    vertical-align: middle;
}

.ui-widget {
	font-size: 11pt;
}

.tooltip {
	font-size: 11pt;
}

.datepickerFix {
	padding: 0 !important;
}