/* @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900italic,900); */
.general_documents h4, .episode h4 {
    margin: 1px 0 !important;
}

.admintab {
    height: 60px !important;
}

.subtab {
    margin-left: 10px;
    margin-top: -3px;
}

.draggable {
    cursor: pointer;
}

.sortableItemPanel {
    border: 1px dashed rgba(241, 148, 125, 0.83);
    height: 100%;
    display: inline-block;
    padding: 12px;
}

.sortableItemPanelEpisode {
    border: 1px dashed rgba(241, 148, 125, 0.83);
    height: 100%;
    display: inline-block;
    padding: 12px;
}

#dragInfo {
    color: #BDBDBD;
    padding: 30px;
    text-align: center;
}

#dragInfoEpisode {
    color: #BDBDBD;
    padding: 30px;
    text-align: center;
}

.designation {
    padding-bottom: 2px;
    display: inline-block;
}

.definition {
    display: block;
    font-size: 12px;
}

.urn {
    display: none;
    text-align: right;
    float: right;
}

.formversion {
    display: inline-block;
    text-align: right;
    float: right;
}

.detailLink {
    display: table-cell;
}

.formItem {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(234, 239, 245, 0.71);
    border-color: rgba(235, 207, 200, 0.55) rgba(235, 207, 200, 0.55)
        rgba(235, 207, 200, 0.55) rgba(245, 108, 74, 0.81);
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    color: inherit;
    cursor: pointer;
    font-weight: 200;
    margin-bottom: 5px;
    padding: 15px 0;
}

.panel-body {
    margin-bottom: 20px;
    padding: 15px;
}

.ossepagewrapper {
    min-height: 100%;
    position: absolute;
    width: 100%;
    background-color: #ddd;
}

.statusbutton {
    height: 16px !important;
    line-height: 17px !important;
    margin: 8px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.ror_registergoal {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
        ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
        .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* pager wrapper, div */
.tablesorter-pager {
    padding: 5px;
}
/* pager wrapper, in thead/tfoot */
td.tablesorter-pager {
    background-color: #e6eeee;
    margin: 0;
    /* needed for bootstrap .pager gets a 18px bottom margin */
}
/* pager navigation arrows */
.tablesorter-pager img {
    vertical-align: middle;
    margin-right: 2px;
    cursor: pointer;
}

/* pager output text */
.tablesorter-pager .pagedisplay {
    padding: 0 5px 0 5px;
    width: 50px;
    text-align: center;
}

/* pager element reset (needed for bootstrap) */
.tablesorter-pager select {
    margin: 0;
    padding: 0;
}

/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.tablesorter-pager.disabled {
    display: none;
}
/* hide or fade out pager arrows when the first or last row is visible */
.tablesorter-pager .disabled {
    /* visibility: hidden */
    opacity: 0.5;
    filter: alpha(opacity = 50);
    cursor: default;
}

.printablePage {
    border-color: #628599;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    padding: 62px;
}

.recordTable td div.form-group {
    margin-bottom: 0px;
}

.unterabschnitt .dataTables_wrapper {
    overflow-x: auto;
}

.dataTables_wrapper {
    margin-bottom: 15px;
}

.recordTable.empty td {
    background: #ddd;
}

.recordTable td, .recordTable th {
    /* prevent that validation messages change vertical alignment of inputs */
    vertical-align: top;
}

.recordTable td a span.fa-trash-o {
    margin-top: 10px;
}

.recordTable td .checkbox {
    display: inline-block;
}

.recordTable td input[type="checkbox"] {
    margin: 0;
}

.recordTable td .checkbox label {
    padding: 0px;
}

.recordTable td .checkbox label input {
    margin: 0px;
    min-width: 20px;
}

.recordTable td {
    text-align: center;
}

.recordTable td .checkbox input {
    position: static;
}

.recordTable td .datetimepicker input {
    min-width: 12em;
}

.recordTable td .datepicker input {
    min-width: 7.7em;
}

.recordTable td input {
    min-width: 8em;
}

.unterabschnitt .btn {
    margin-bottom: 20px;
}

table.recordTable thead tr th {
    padding-right: 10px;
}

.recordTable .errorText {
    display: inline-block;
    text-align: left;
}

table.recordTable.dataTable {
    border-collapse: collapse;
}

.adminTableOddRow {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border-top: 1px solid #ddd;
}

.adminTableEvenRow {
    background: none repeat scroll 0 0 #f9f9f9 !important;
    border-top: 1px solid #ddd;
}

table.adminTable td {
    background: none !important;
}

table.adminTable tfoot th, table.adminTable tfoot td {
    border-top: none !important;
    padding: 2px !important;
}

table.adminTable tbody tr:hover {
    background-color: #f6f6f6 !important;
}

table.recordTable.dataTable td {
    border: none;
}

table.adminTable.dataTable {
    border-collapse: collapse;
}

table.adminTable.dataTable tbody td {
    padding: 2px;
}

div.dataTables_info {
    visibility: hidden;
}

table.recordTable.dataTable tbody td {
    padding: 2px;
}

table.recordTable.dataTable tbody tr:first-child td {
    padding-top: 5px;
}

.patientListTable {
    background: lightgray;
}

.patientListTable tbody td {
    height: 30px !important;
    text-align: left;
    vertical-align: middle;
    padding-left: 10px !important;
    padding-top: 2px !important;
}

.patientListTable a, .patientListTable a:hover, .patientListTable a:focus
    {
    color: black;
}

table.patientListTable tbody tr td {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.osseLogoSideText {
    vertical-align: -5px;
    font-size: 80%;
    color: white;
}

.ui-datepicker {
    z-index: 99 !important;
}


/**
 * Datetime picker looks ugly without the following stylesheets.
 */
.bootstrap-datetimepicker-widget th {
  color: #fff;
}

.bootstrap-datetimepicker-widget .timepicker td {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #fff !important;
  line-height: 27px !important;
  height: 27px !important;
  width: 27px !important;
}

.bootstrap-datetimepicker-widget .timepicker span:hover {
  color: #000 !important;
}

.bootstrap-datetimepicker-widget .timepicker span {
  color: #fff !important;
}

.bootstrap-datetimepicker-widget .timepicker td span {
  width: 27px !important;
  height: 27px !important;
  line-height: 27px !important
}

.color-fair{
    color: #F00;
}

span[data-subject="pid"] {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

nav#nav .container .language-menu a {
    text-decoration: none;
}

.language-menu .dropdown-menu {
    min-width: initial;
}

.clipboard {
    cursor: pointer;
}