<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>
<h:form prependId="false" styleClass="iseditable">
    
<p:outputPanel layout="block" styleClass="panel panel-default">
<p:outputPanel layout="block" styleClass="panel-heading">
<h4>SMTP</h4><small>E-Mail stuff</small>
</p:outputPanel>
<p:outputPanel layout="block" styleClass="panel-body">	
    
    <h:outputLabel for="smtpHost" styleClass="dataElementField hasTooltip" value="smtpHost" />
    <p:outputPanel layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['smtp.host']}" name="smtpHost" id="smtpHost" />
    </p:outputPanel>
    
    <h:outputLabel for="smtpUsername" styleClass="dataElementField hasTooltip" value="smtpUsername" />
    <p:outputPanel layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['smtp.user']}" name="smtpUsername" id="smtpUsername" />
    </p:outputPanel>
    
    <h:outputLabel for="smtpPassword" styleClass="dataElementField hasTooltip" value="smtpPassword" />
    <p:outputPanel layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['smtp.password']}" name="smtpPassword" id="smtpPassword" />
    </p:outputPanel>
    
    <h:outputLabel for="smtpFrom" styleClass="dataElementField hasTooltip" value="smtpFrom" />
    <p:outputPanel layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['smtp.from']}" name="smtpFrom" id="smtpFrom" />
    </p:outputPanel>
    
</p:outputPanel>
</p:outputPanel>	


<p:commandButton styleClass="btn btn-haha" ajax="false" onclick="setConfirmUnload(false)" value="#{msg.formbutton_save}" id="save" action="#{configurationBean.saveConfiguration()}" />

<h:commandButton type="reset" styleClass="btn btn-haha" value="Reset" id="reset" />

</h:form>
</ui:composition>
</body>
</html>
