<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>
<!--  you can put special stuff above the form here -->

<h:form prependId="false">
<ui:insert name="formularbuttons">
    <ui:include src="/components/commonFormButtons.xhtml" />
</ui:insert>

<!--  here comes your page content -->

<!-- put this in if your form shall not show the import buttons and the signature warnings -->
<f:event type="preRenderView" listener="#{formviewer.setFormParam('hideLeftFlag','true'}" />





<!-- end of own page content -->

</h:form>

<!--  you can put special stuff below the form here -->

</ui:composition>
</body>
</html>
