<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>

<h:form prependId="false">
#{msg.log_yourlogbook}
<p />

<p />
            <p:dataTable value="#{sessionBean.logbook}" var="o"
                styleClass="order-table"
                headerClass="order-table-header"
                rowClasses="order-table-odd-row,order-table-even-row"
                sortBy="#{o.timestamp}" sortOrder="DESCENDING" filteredValue="#{sessionBean.filteredLogbook}"
                paginator="true" rows="10" paginatorAlwaysVisible="true"
            paginatorPosition="top" rowsPerPageTemplate="10,20,50"
            >
 
                <p:column sortBy="#{o.timestamp}" style="width:10em">
                    <f:facet name="header">#{msg.log_time}</f:facet>
                            <h:outputText id="new_caseDate" name="timestampbla" value="#{o.timestamp}">
                                <f:convertDateTime type="date" pattern="#{msg.date_pattern}" timeZone="Europe/Berlin" />
                            </h:outputText>
                </p:column>

                <p:column sortBy="#{o.username}" style="width:20em">
                    <f:facet name="header">#{msg.log_user}</f:facet>
                    #{o.username}
                </p:column>
 
                <p:column sortBy="#{o.action}" style="width:10em" filterMatchMode="contains" filterBy="#{o.action}">
                    <f:facet name="header">#{msg.log_action}</f:facet>
                    #{o.action}
                </p:column>
 
         
            </p:dataTable>

</h:form>

</ui:composition>
</body>
</html>
