<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>

<h:form prependId="false" styleClass="iseditable">
<h:panelGroup layout="block" styleClass="panel panel-default" id="mainzellisteform" style="margin-bottom: 0px;">
<h:panelGroup layout="block" styleClass="panel-heading">
<h4>Mainzelliste</h4><small>Mainzelliste is the web-based first-level pseudo-anonymisation service. It allows for the creation of personal identifiers (PID) from identifying attributes (IDAT), and thanks to the record linkage functionality, this is even possible with poor quality identifying data.</small>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">

<ui:fragment rendered="#{sessionBean.criticalMainzellisteError}">
    <h:panelGroup layout="block" styleClass="input-group" id="statusBlockMainzelliste">
        &nbsp;&nbsp;
        <span class="button-checkbox pull-right">
            <span  class="btn btn-sm btn-danger active" >
                <i class="state-icon fa fa-bolt}"></i> Mainzelliste connection failed. &nbsp; <br />
                <h:panelGroup styleClass="badge" style="display:inline;" id="statusMainzellisteMoo">
                    <h:outputText value="There is no Mainzelliste service responding. Please check its URL and application key." />
                </h:panelGroup>
                <br /><br />
                <h:graphicImage id="mainzellistePageCheckButtonWorking" value="#{resource['images:ajax-loader.gif']}" style="display:none;" />
                <p:commandButton ajax="false" id="mainzellistePageCheckButton" value="Check Mainzelliste service" action="#{sessionBean.checkMainzellisteService()}"  >
                    <f:ajax execute="@form" render="mainzellisteform" onevent="monitorMainzellistePageCheckButton"/>
                </p:commandButton>
            </span>
        </span>	
    </h:panelGroup>
</ui:fragment>	


    <h:outputLabel for="urlML" styleClass="dataElementField hasTooltip" >
    URL of Mainzelliste<br/>
    <h:panelGroup style="font-weight: normal; font-size: 12px;">This URL is used to access your Mainzelliste. If no URL is set, then the Mainzelliste is accessed on the same way (URL and port) that you access your registry on in your browser.</h:panelGroup>
    </h:outputLabel>
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText styleClass="form-control" size="80" value="#{configurationBean.formParam['mainzelliste.rest']}" id="urlML" />
    </h:panelGroup>
<br />    
    <h:outputLabel for="internalMZPort" styleClass="dataElementField hasTooltip" >
    Localhost Port to Mainzelliste<br />
    <h:panelGroup style="font-weight: normal; font-size: 12px;">This port is only used, if no URL is defined above and the registry can access the Mainzelliste via localhost directly.</h:panelGroup>
    </h:outputLabel>
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText styleClass="form-control" size="80" value="#{configurationBean.formParam['mainzelliste.internalMainzellistePort']}" id="internalMZPort" />
    </h:panelGroup>
<br />
    <h:outputLabel for="internalPort" styleClass="dataElementField hasTooltip" >
    Internal Registry Port<br />
    <h:panelGroup style="font-weight: normal; font-size: 12px;">Set this port only if your Mainzelliste has to callback to your registry on a different port than the one you access the registry on in your browser.</h:panelGroup>
    </h:outputLabel>
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText styleClass="form-control #{!component.valid ? 'error':''}" size="80" value="#{configurationBean.formParam['mainzelliste.restInternalPort']}" id="internalPort" >
            <f:validateLongRange maximum="65535" minimum="1" />
        </h:inputText>
        <h:message for="internalPort" />
    </h:panelGroup>
<br />
    <h:outputLabel for="domML" styleClass="dataElementField hasTooltip" value="Applicationkey of Mainzelliste" />
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText styleClass="form-control" size="80" value="#{configurationBean.formParam['mainzelliste.domain']}" id="domML" />
    </h:panelGroup>
        


</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="sticky_bar" id="stickyButtonBar">
<h:graphicImage id="saveButtonWorking"
    value="#{resource['images:ajax-loader.gif']}" style="display:none;" />

<h:commandLink style="margin-right: 10px;" styleClass="btn btn-success" type="submit" id="save" action="#{configurationBean.saveConfiguration()}" >
<i class="fa fa-check fa-fw" /> #{msg.savebutton}
<f:ajax execute="@form" render="stickyButtonBar"
                        onevent="monitorButton" />
</h:commandLink>
<h:commandLink styleClass="btn btn-danger" immediate="true" id="reset" type="submit" onclick="if (! confirm('Are you sure you want to cancel?')) return false"   action="#{configurationBean.cancel()}">
<i class="fa fa-undo fa-fw" /> #{msg.cancel}
</h:commandLink>
</h:panelGroup>

</h:form>

<h:outputScript target="body" library="js" name="monitorButton.js" />

<c:if test="#{sessionBean.criticalMainzellisteError}">
<h:outputScript target="body">
function monitorMainzellistePageCheckButton(data) {
  var loading = document.getElementById("mainzellistePageCheckButtonWorking");
  var saveButton = document.getElementById("mainzellistePageCheckButton");

  if(data.status == "begin"){
    loading.style.display = "inline";
    saveButton.style.display = "none";
  }
  else if(data.status == "success"){
    loading.style.display = "none";
    saveButton.style.display = "inline";
  }
}
</h:outputScript>
</c:if>
</ui:composition>
</body>
</html>
