<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<body>
	<ui:composition>
		<h:form prependId="false" styleClass="iseditable">

			<h:panelGroup layout="block" styleClass="panel panel-default" style="margin-bottom: 0px;">
				<h:panelGroup layout="block" styleClass="panel-heading">
					<h4>Password Complexity Configuration</h4>
					<small>On this page you can define the necessary criteria a
						password must have.</small>
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="panel-body">

					<h:panelGroup layout="block" styleClass="row">
						<h:panelGroup layout="block" styleClass="col-md-2">
							<h:outputLabel for="minLength"
								styleClass="dataElementField hasTooltip"
								value="Minimal Password Length" />
						</h:panelGroup>
						<h:panelGroup layout="block" styleClass="col-md-4">
							<h:inputText styleClass="form-control hasTooltip"
								size="4" title="Enter the minimal amount of characters a password must have. Your value must be bigger than 3."
								value="#{configurationBean.formParam['password.min.length']}"
								id="minLength" >
								<f:validateLongRange minimum="4" />
							</h:inputText>
						</h:panelGroup>
						<h:panelGroup layout="block" styleClass="col-md-2">
							<h:message for="minLength" styleClass="error" />
						</h:panelGroup>
					</h:panelGroup>

					<h:panelGroup layout="block" styleClass="row">
                        <h:panelGroup layout="block" styleClass="col-md-2">
                            <h:outputLabel for="maxLength"
                                styleClass="dataElementField hasTooltip"
                                value="Maximal Password Length" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-md-4">
                            <h:inputText styleClass="form-control hasTooltip"
                                size="4" title="Enter the maximal amount of characters a password might have. If you enter the value 0, it means passwords may have any length."
                                value="#{configurationBean.formParam['password.max.length']}"
                                id="maxLength" >
                                <f:validateLongRange minimum="0" />
                            </h:inputText>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-md-2">
                            <h:message for="maxLength" styleClass="error" />
                        </h:panelGroup>
                    </h:panelGroup>


                    <h:panelGroup layout="block" styleClass="row">
                        <h:panelGroup layout="block" styleClass="col-md-2">
                            <h:outputLabel for="minLowercase"
                                styleClass="dataElementField hasTooltip"
                                value="Minimal Amount of Lowercase Letters" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-md-4">
                            <h:inputText type="text" styleClass="form-control hasTooltip"
                                size="4" title="Enter the minimal amount of lowercase characters a password might have. If you enter the value 0, it means passwords may have any amount or none."
                                value="#{configurationBean.formParam['password.min.lowercase']}"
                                name="minLowercase" id="minLowercase" >
                                <f:validateLongRange minimum="0" />
                            </h:inputText>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-md-2">
                            <h:message for="minLowercase" styleClass="error" />
                        </h:panelGroup>
                    </h:panelGroup>
                    
                    
                    <h:panelGroup layout="block" styleClass="row">
                        <h:panelGroup layout="block" styleClass="col-md-2">
                            <h:outputLabel for="minUppercase"
                                styleClass="dataElementField hasTooltip"
                                value="Minimal Amount of Uppercase Letters" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-md-4">
                            <h:inputText type="text" styleClass="form-control hasTooltip"
                                size="4" title="Enter the minimal amount of uppercase characters a password might have. If you enter the value 0, it means passwords may have any amount or none."
                                value="#{configurationBean.formParam['password.min.uppercase']}"
                                name="minUppercase" id="minUppercase" >
                                <f:validateLongRange minimum="0" />
                            </h:inputText>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-md-2">
                            <h:message for="minUppercase" styleClass="error" />
                        </h:panelGroup>
                    </h:panelGroup>
                    
                    
                    <h:panelGroup layout="block" styleClass="row">
                        <h:panelGroup layout="block" styleClass="col-md-2">
                            <h:outputLabel for="minSpecials"
                                styleClass="dataElementField hasTooltip"
                                value="Minimal Amount of Special Characters" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-md-4">
                            <h:inputText type="text" styleClass="form-control hasTooltip"
                                size="4" title="Enter the minimal amount of special characters a password might have. If you enter the value 0, it means passwords may have any amount or none."
                                value="#{configurationBean.formParam['password.min.special']}"
                                name="minSpecials" id="minSpecials" >
                                <f:validateLongRange minimum="0" />
                            </h:inputText>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-md-2">
                            <h:message for="minSpecials" styleClass="error" />
                        </h:panelGroup>
                    </h:panelGroup>
                    
                    <h:panelGroup layout="block" styleClass="row">
                        <h:panelGroup layout="block" styleClass="col-md-2">
                            <h:outputLabel for="minNumeric"
                                styleClass="dataElementField hasTooltip"
                                value="Minimal Amount of Numerical Characters" />
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-md-4">
                            <h:inputText styleClass="form-control hasTooltip"
                                size="4" title="Enter the minimal amount of numerical characters a password might have. If you enter the value 0, it means passwords may have any amount or none."
                                value="#{configurationBean.formParam['password.min.numerical']}"
                                id="minNumeric" >
                                <f:validateLongRange minimum="0" />
                            </h:inputText>
                        </h:panelGroup>
                        <h:panelGroup layout="block" styleClass="col-md-2">
                            <h:message for="minNumeric" styleClass="error" />
                        </h:panelGroup>
                    </h:panelGroup>
                    
				</h:panelGroup>
			</h:panelGroup>

            <h:panelGroup layout="block" styleClass="sticky_bar" id="stickyButtonBar">
                <h:graphicImage id="saveButtonWorking"
                    value="#{resource['images:ajax-loader.gif']}" style="display:none;" />
                <h:commandLink style="margin-right: 10px;" styleClass="btn btn-success" type="submit" id="save" action="#{configurationBean.saveConfiguration()}" >
                    <i class="fa fa-check fa-fw" /> #{msg.savebutton}
                    <f:ajax execute="@form" render="stickyButtonBar"
                        onevent="monitorButton" />
                </h:commandLink>
                <h:commandLink styleClass="btn btn-danger" immediate="true" id="reset" type="submit" action="#{configurationBean.cancel()}">
                    <i class="fa fa-undo fa-fw" /> #{msg.cancel}
                </h:commandLink>
            </h:panelGroup>

		</h:form>

		<h:outputScript target="body" library="js" name="monitorButton.js" />
           
        <h:outputScript target="body">
        $(document).ready(function(){
            $('.hasTooltip').tooltip();
            });
        </h:outputScript>
	</ui:composition>
</body>
</html>
