<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>
<h:form prependId="false" styleClass="iseditable">

<h:panelGroup layout="block" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-heading">
<h4>Proxy Settings</h4><small>Enter your proxy settings necessary for the registry to reach the internet</small>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-1">
    <h:outputLabel for="proxyHost" styleClass="dataElementField hasTooltip" value="Host" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-3">
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['proxy.http.host']}" name="proxyHost" id="proxyHost" />
    </h:panelGroup>
</h:panelGroup>
    
<h:panelGroup layout="block" styleClass="col-md-1">
    <h:outputLabel for="proxyPort" styleClass="dataElementField hasTooltip" value="Port" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-3">
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['proxy.http.port']}" name="proxyPort" id="proxyPort" />
    </h:panelGroup>
</h:panelGroup>
</h:panelGroup>
    
<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-1">
    <h:outputLabel for="proxyUsername" styleClass="dataElementField hasTooltip" value="Username" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-3">
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['proxy.http.username']}" name="proxyUsername" id="proxyUsername" />
    </h:panelGroup>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-1">
    <h:outputLabel for="proxyPassword" styleClass="dataElementField hasTooltip" value="Password" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-3">
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['proxy.http.password']}" name="proxyPassword" id="proxyPassword" />
    </h:panelGroup>
</h:panelGroup>
</h:panelGroup>
<p />
<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-1">
    <h:outputLabel for="proxyRealm" styleClass="dataElementField hasTooltip" value="Realm" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-3">
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['proxy.realm']}" name="proxyRealm" id="proxyRealm" />
    </h:panelGroup>
</h:panelGroup>
</h:panelGroup>
</h:panelGroup>



<h:panelGroup layout="block" styleClass="panel-heading">
<small>Enter your HTTPS proxy settings below if they differ from those for HTTP connections</small>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">
<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-1">
    <h:outputLabel for="proxyhttpsHost" styleClass="dataElementField hasTooltip" value="Host" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-3">
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['proxy.https.host']}" name="proxyhttpsHost" id="proxyhttpsHost" />
    </h:panelGroup>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-1">	
    <h:outputLabel for="proxyhttpsPort" styleClass="dataElementField hasTooltip" value="Port" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-3">
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['proxy.https.port']}" name="proxyhttpsPort" id="proxyhttpsPort" />
    </h:panelGroup>
</h:panelGroup>
</h:panelGroup>	
<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-1">
    <h:outputLabel for="proxyhttpsUsername" styleClass="dataElementField hasTooltip" value="Username" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-3">
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['proxy.https.username']}" name="proxyhttpsUsername" id="proxyhttpsUsername" />
    </h:panelGroup>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-1">	
    <h:outputLabel for="proxyhttpsPassword" styleClass="dataElementField hasTooltip" value="Password" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-3">
    <h:panelGroup layout="block" styleClass="input-group">
        <h:inputText type="text" styleClass="form-control hasTooltip" size="0" value="#{configurationBean.formParam['proxy.https.password']}" name="proxyhttpsPassword" id="proxyhttpsPassword" />
    </h:panelGroup>
</h:panelGroup>	
</h:panelGroup>

</h:panelGroup>
</h:panelGroup>

<h:panelGroup id="saveButtonBlock">
    <h:graphicImage id="saveButtonWorking" value="#{resource['images:ajax-loader.gif']}" style="display:none;" />
    <p:commandButton ajax="false" id="save" value="Save" action="#{configurationBean.saveConfiguration()}"  >
        <f:ajax execute="@form" render="saveButtonBlock" onevent="monitorButton"/>
    </p:commandButton>
    <p:commandButton id="reset"	type="reset" value="Reset" />
</h:panelGroup>

</h:form>

<h:outputScript target="body" library="js" name="monitorButton.js" />	

</ui:composition>
</body>
</html>
