<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition>
		<h:outputScript target="head" library="js" name="roleseditor.js" />

		<h:form prependId="false" styleClass="iseditable">


			<!--  here comes your page content -->

			<h:panelGroup layout="block" styleClass="panel panel-default"
				style="margin-bottom: 0px;">
				<h:panelGroup layout="block" styleClass="panel-heading">
					<h4>Name and Location of this role</h4>
				</h:panelGroup>
				<h:panelGroup layout="block" styleClass="panel-body">
					<h:panelGroup layout="block" styleClass="fadein content">
						<h:panelGroup layout="block" styleClass="row">
							<h:panelGroup layout="block" styleClass="col-md-2">
								<h:outputLabel for="rolename">
									<h:outputText value="Role name" />
								</h:outputLabel>
							</h:panelGroup>
							<h:panelGroup layout="block" styleClass="col-md-4">
								<h:inputText binding="#{rolename}" size="40"
									styleClass="#{!component.valid ? 'error':''}" id="rolename"
									onchange="displayPermissions();"
									onkeyup="displayPermissions();"
									required="#{empty param['disableValidation']}"
									requiredMessage="Enter a name for this role"
									value="#{roleBean.dataObject['name']}" />
							</h:panelGroup>
							<h:panelGroup layout="block" styleClass="col-md-4">
								<h:message for="rolename" styleClass="error" />
							</h:panelGroup>
						</h:panelGroup>
						<h:panelGroup layout="block" styleClass="row">
							<h:panelGroup layout="block" styleClass="col-md-2">
								<h:outputLabel for="rolelocation">
									<h:outputText value="Role location" />
								</h:outputLabel>
							</h:panelGroup>
							<h:panelGroup layout="block" styleClass="col-md-4">
								<h:selectOneMenu requiredMessage="#{msg.required}"
									required="#{empty param['disableValidation']}"
									value="#{roleBean.dataObject['rolelocation']}"
									id="rolelocation" name="rolelocation">
									<f:selectItems value="#{roleBean.locationList}" />
								</h:selectOneMenu>
							</h:panelGroup>
							<h:panelGroup layout="block" styleClass="col-md-4">
								<h:message for="rolelocation" styleClass="error" />
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>

				<h:panelGroup id="predefinedPermissions"
					style="display:#{not empty roleBean.dataObject['name']?(rolename.valid?'block':'none'):'none'}">
					<h:panelGroup layout="block" styleClass="panel panel-default"
						style="margin-bottom: 0px;">
						<h:panelGroup layout="block" styleClass="panel-heading">
							<h4>
								Predefined permissions<br /> <small>Here you can decide
									which predefined permissions should be applicable for this
									role. Add items from the right by dragging and dropping. </small>
							</h4>
						</h:panelGroup>
						<h:panelGroup layout="block" styleClass="panel-body">
							<h:panelGroup layout="block" styleClass="fadein content">
								<h:panelGroup layout="block" styleClass="col-xs-6">
									<h:inputHidden value="#{roleBean.items}" id="items" />

									<h:commandButton style="display:none"
										action="#{roleBean.refreshItems}" id="refreshItems">
										<f:ajax render="sortableItemPanel" execute="@form" />
									</h:commandButton>

									<h:panelGroup id="sortableItemPanel"
										styleClass="sortableItemPanel droptrue col-xs-12 ui-sortable ui-droppable"
										layout="block">

										<h:panelGroup id="dragInfo" layout="block"
											rendered="#{roleBean.elements.size() == 0}">
											<h:panelGroup layout="block" classStyle="font-size: 30px;">
												<i class="fa fa-hand-o-up"></i>
												<br /> Add Item
                                        </h:panelGroup>
											<h:panelGroup layout="block">Simply drag and drop</h:panelGroup>
										</h:panelGroup>

										<ui:repeat var="item" value="#{roleBean.elements}">
											<h:panelGroup layout="block"
												styleClass="formItem row vertical-center ui-sortable-handle">
												<!-- nur links -->
												<h:panelGroup styleClass="col-xs-1 vCenter">
													<i class="fa fa-arrows-v clickableIcon"></i>
												</h:panelGroup>

												<h:panelGroup styleClass="col-xs-10 vCenter">
													<h:panelGroup styleClass="designation">#{item['designation']}</h:panelGroup>
													<h:panelGroup styleClass="urn">#{item['urn']}</h:panelGroup>
													<h:panelGroup styleClass="definition">#{item['definition']}</h:panelGroup>
												</h:panelGroup>

												<!-- nur links -->
												<h:panelGroup styleClass="col-xs-1 vCenter">
													<button onclick="removeItem(this);" type="button">
														<i class="fa fa-trash-o text-warning" />
													</button>
												</h:panelGroup>
											</h:panelGroup>
										</ui:repeat>

										<h:outputScript>
                activateDrag();
                </h:outputScript>

									</h:panelGroup>

								</h:panelGroup>

								<h:panelGroup layout="block"
									styleClass="col-xs-6 scrollable panelRight">



									<h:panelGroup layout="block" id="searchResultTab">
										<h:panelGroup id="searchResults" layout="block">

											<ui:repeat var="item"
												value="#{roleBean.allPermissionQuickies}">

												<h:panelGroup
													styleClass="formItem formItem-record col-xs-12 draggable ui-draggable ui-draggable-handle"
													layout="block" pt:draggable="true">
													<h:panelGroup styleClass="detailLink col-xs-12 vCenter">

														<h:panelGroup styleClass="col-xs-12 vCenter">
															<h:panelGroup styleClass="designation">#{item['designation']}</h:panelGroup>
															<h:panelGroup styleClass="urn">#{item['urn']}</h:panelGroup>
															<h:panelGroup styleClass="definition">#{item['definition']}</h:panelGroup>
														</h:panelGroup>

													</h:panelGroup>

												</h:panelGroup>

												<h:outputScript>
                            activateDrag();
                            
                        </h:outputScript>

											</ui:repeat>
										</h:panelGroup>
									</h:panelGroup>

								</h:panelGroup>

							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>

				</h:panelGroup>
			</h:panelGroup>

            <h:panelGroup layout="block" styleClass="sticky_bar_forms" id="stickyButtonBar">
                <h:commandLink style="margin-right: 10px;" styleClass="btn btn-success" type="submit" id="save" action="#{roleBean.save}" >
                    <i class="fa fa-check fa-fw" /> #{msg.savebutton}
                </h:commandLink>
                <h:commandLink styleClass="btn btn-danger" immediate="true" id="cancel" type="submit" action="#{roleBean.goRoleAdminList}">
                    <i class="fa fa-undo fa-fw" /> #{msg.cancel}
                </h:commandLink>
            </h:panelGroup>

		</h:form>

		<!--  you can put special stuff below the form here -->

	</ui:composition>
</h:body>
</html>
