<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>

<h:form prependId="false" onkeypress="if (event.keyCode == 13) { document.getElementById('addNewUser').click(); return false; }">
    <h:panelGroup layout="block" styleClass="panel panel-default" style="margin-bottom: 5px;">
        <h:panelGroup layout="block" styleClass="panel-heading"><h4>User name</h4><small>Enter the name of the person, the designated username in the registry</small></h:panelGroup>
        <h:panelGroup layout="block" styleClass="panel-body">

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="username">Username:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputText styleClass="#{!component.valid ? 'error':''}" required="true" requiredMessage="#{msg.required}" id="username" value="#{userBean.dataObject['username']}" validator="LoginValidator"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="username" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="title">#{msg.usertitle}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputText styleClass="#{!component.valid ? 'error':''}" id="title" value="#{userBean.dataObject['title']}" validator="Letters"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="title" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="firstname">#{msg.userfirstname}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputText styleClass="#{!component.valid ? 'error':''}" required="true" requiredMessage="#{msg.required}" id="firstname" value="#{userBean.dataObject['firstname']}" validator="Letters"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="firstname" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="lastname">#{msg.userlastname}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputText styleClass="#{!component.valid ? 'error':''}" required="true" requiredMessage="#{msg.required}" id="lastname" value="#{userBean.dataObject['lastname']}" validator="Letters"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="lastname" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="email">#{msg.useremail}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputText styleClass="#{!component.valid ? 'error':''}" id="email" value="#{userBean.dataObject['email']}" validator="EmailAddresses"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="email" class="error" />
</h:panelGroup>
</h:panelGroup>
 
</h:panelGroup>
    <h:panelGroup layout="block" styleClass="panel-heading"><h4>Roles of the user<br /><small>Define which roles the user shall have in the registry.
</small></h4></h:panelGroup>
    <h:panelGroup layout="block" styleClass="panel-body">


<h:panelGroup layout="block" >

    <p:dataTable var="line" value="#{userBean.dataObject['roles'].rows}" id="roles" emptyMessage="#{msg.datatable_isempty}">  

        <p:column headerText="Role" style="min-width:125px" sortBy="#{line.columns['role']}">  
            <h:selectOneMenu requiredMessage="#{msg.required}" required="true" 
                value="#{line.columns['role']}" id="role">
                <f:selectItems value="#{userBean.roleList}"/>
            </h:selectOneMenu>
        </p:column>
  
        <p:column>
                <f:facet name="header">#{msg.datatable_actionheader}</f:facet>
                <h:commandLink id="samplyDatatableDeletebutton" ajax="true" process="roles" update="roles" action="#{userBean.deleteAction('roles', line)}">
                    <span class="fa fa-trash-o" />
                <f:param name="disableValidation" value="true" />
                </h:commandLink>
        </p:column>
        
           <f:facet name="footer">
               
           </f:facet>
    </p:dataTable>  
    <h:commandButton style="margin-left: 5px; margin-top: 5px;" styleClass="btn btn-success" process="roles" ajax="true" value="#{msg.datatable_add}" action="#{userBean.addAction('roles')}" update="roles"/>

</h:panelGroup>

</h:panelGroup>

    <h:panelGroup layout="block" styleClass="panel-heading"><h4>Password</h4></h:panelGroup>
    <h:panelGroup layout="block" styleClass="panel-body">

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="password">#{msg.password}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputSecret styleClass="#{!component.valid ? 'error':''}" id="password" value="#{userBean.formParam['password']}" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="password" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="password_repeat">#{msg.password_repeat}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputSecret styleClass="#{!component.valid ? 'error':''}" id="password_repeat" value="#{userBean.formParam['password_repeat']}" />
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="password_repeat" class="error" />
</h:panelGroup>
</h:panelGroup>

</h:panelGroup>
</h:panelGroup>

<h:commandButton style="margin-bottom: 10px; margin-right: 10px;" styleClass="btn btn-success" ajax="false" type="submit" id="addNewUser" value="Add new user" action="#{userBean.save}" />
<h:commandButton style="margin-bottom: 10px;" styleClass="btn btn-danger" ajax="false" immediate="true" type="submit" value="Cancel" action="#{userBean.goUserList}" />
            
</h:form>

</ui:composition>
</body>
</html>