<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>

<h:form prependId="false">
 
<table>
<tr>
<td><label for="password" class="better">#{msg.currentpassword}:</label>
</td>
<td>
<p:password styleClass="#{!component.valid ? 'error':''}" id="currentpassword" name="currentpassword" value="#{userBean.entries['currentpassword']}" validator="Password"/>
</td>
<td><h:message for="currentpassword" class="error" /></td>
</tr>

<tr>
<td><label for="password" class="better">#{msg.password}:</label>
</td>
<td>
<p:password feedback="true" styleClass="#{!component.valid ? 'error':''}" id="password" name="password" value="#{userBean.entries['password']}" validator="Password"/>
</td>
<td><h:message for="password" class="error" /></td>
</tr>

<tr>
<td><label for="password_repeat" class="better">#{msg.password_repeat}</label>
</td>
<td><p:password styleClass="#{!component.valid ? 'error':''}" id="password_repeat" name="password_repeat" value="#{userBean.entries['password_repeat']}" validator="Password"/>
</td>
<td><h:message for="password_repeat" class="error" /></td>
</tr>
</table>

<h:commandButton type="submit"  value="#{msg.savebutton}" action="#{userBean.changePassword}">
    </h:commandButton>
<h:commandButton immediate="true" type="submit" value="#{msg.cancel}" action="#{sessionBean.goStartPage()}" />

            
</h:form>

</ui:composition>
</body>
</html>