<ui:component
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:cc="http://java.sun.com/jsf/composite"
>
    <cc:interface componentType="inputMonthYear">
        <cc:attribute name="value" type="java.util.Date"
            shortDescription="The selected Date. Defaults to today." />
        <cc:attribute name="maxyear" type="java.lang.Integer"
            shortDescription="The maximum year. Defaults to current year." />
        <cc:attribute name="minyear" type="java.lang.Integer"
            shortDescription="The minimum year. Defaults to maxyear minus 100." />
    </cc:interface>
    <cc:implementation>
        <span id="#{cc.clientId}" style="white-space:nowrap">
            <h:selectOneMenu id="month"  binding="#{cc.monthUI}" converter="javax.faces.Integer">
                <f:selectItems value="#{cc.months}" />
            </h:selectOneMenu>
            <h:selectOneMenu id="year" binding="#{cc.yearUI}" converter="javax.faces.Integer">
                <f:selectItems value="#{cc.years}" />
            </h:selectOneMenu>
        </span>
    </cc:implementation>
</ui:component>