<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>
<!-- put this to not display a context menu flag -->
<f:event type="preRenderView" listener="#{formviewer.setFormParam('hideRightFlag','true')}" />

<!-- put this in if your form shall not show the edit-flag-->
<f:event type="preRenderView" listener="#{formviewer.setFormParam('hideLeftFlag','true')}" />

<!-- in general you can transmit params this way, just define your own key,value pair -->


<p:outputPanel layout="block" class="panel #{formviewer.panelHeadingColor}">
<p:outputPanel layout="block" class="panel-heading">
#{sessionBean.formtitle}
<ui:include src="/components/formHeadPanelSymbol.xhtml" />
</p:outputPanel>

<h:form prependId="false" styleClass="iseditable">
<p:outputPanel layout="block" class="panel-body">
<ui:include src="/components/commonFormButtons.xhtml" />

<!--  here comes your page content -->




<!-- end of own page content -->

</p:outputPanel>
</h:form>

</p:outputPanel>
</ui:composition>
</body>
</html>
