<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:mf="http://java.sun.com/jsf/composite/mdrfaces" 
        xmlns:o="http://omnifaces.org/ui"
        xmlns:of="http://omnifaces.org/functions"
      >
<body>
<ui:composition>
<h:panelGroup id="topFormPanel" layout="block" styleClass="panel panel-default">

<h:panelGroup layout="block" styleClass="panel-heading">
    <h4>No form provided</h4>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="panel-body">

<h:panelGroup layout="block" styleClass="abschnitt ui-corner-all">
You have no access rights to any forms of this type.
</h:panelGroup>

</h:panelGroup>
</h:panelGroup>

</ui:composition>
</body>
</html>
