<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" 
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
      >
<body>
<ui:composition>

<h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
<h:outputScript library="js" name="jquery.ui.period.datepicker.osse.js" target="head" />

<h:panelGroup layout="block" id="topFormPanel" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-body">

<ui:fragment rendered="#{episodeBean.dataObject['showLabelWasConvertedWarning'] == 'true'}">
<p class="bg-info">
<h:outputText>Attention:<br/>The label of this episode has been converted to the currently defined episode pattern, which was changed from the time this episode was last edited.<br/>
The original value was: #{episodeBean.dataObject['oldName']}<br/>
This change is not yet saved. The newly converted value only gets saved when you click "Save".</h:outputText>
</p>
</ui:fragment>

<h:panelGroup styleClass="row">
<c:if test="#{applicationBean.isEpisodeDatePattern()}">
<h:panelGroup styleClass="col-lg-2">
<p:outputLabel styleClass="better" for="inputDate" value="#{msg.date_of_episode}" />
</h:panelGroup>
<h:panelGroup styleClass="col-lg-4">
<h:panelGroup layout="block" rendered="#{applicationBean.isEpisodeDatePattern()}">
<h:inputText validator="EpisodeValidator" size="10" showOn="button" requiredMessage="#{msg.required}" required="true" id="inputDate" value="#{episodeBean.dataObject['name']}">
</h:inputText>
</h:panelGroup>
</h:panelGroup>
<h:outputScript target="body">
$('#inputDate').datepicker({
    dateFormat: "#{applicationBean.getEpisodePatternJQuery()}",
    changeMonth: true,
    changeYear: true,
    showButtonPanel: true
});
</h:outputScript>
</c:if>

<c:if test="#{!applicationBean.isEpisodeDatePattern()}">
<h:panelGroup styleClass="col-lg-2">
<p:outputLabel styleClass="better" for="inputDate" value="Quarter of Episode" />
</h:panelGroup>
<h:panelGroup styleClass="col-lg-4">
<h:panelGroup layout="block" rendered="#{!applicationBean.isEpisodeDatePattern()}">
<h:inputText validator="EpisodeValidator" size="10" requiredMessage="#{msg.required}" required="true" id="inputDate" value="#{episodeBean.dataObject['name']}">
</h:inputText>
</h:panelGroup>
</h:panelGroup>
<h:outputScript target="body" rendered="#{applicationBean.getEpisodePatternName() == 'QUARTERS'}">
$('#inputDate').datepicker({quarterpicker: true, changeYear: true, showButtonPanel: true});
</h:outputScript>
<h:outputScript target="body" rendered="#{applicationBean.getEpisodePatternName() == 'ROMANQUARTERS'}">
$('#inputDate').datepicker({quarterpicker: true, romanquarter: true, changeYear: true, showButtonPanel: true});
</h:outputScript>

</c:if>
<h:panelGroup styleClass="col-lg-6">
<h:message for="inputDate" />
</h:panelGroup>
</h:panelGroup>
<h:panelGroup styleClass="row">
<h:panelGroup styleClass="col-lg-2">
<p:outputLabel styleClass="better" for="optionalText" value="#{msg.optional_text}" />
</h:panelGroup>
<h:panelGroup styleClass="col-lg-4">
<h:inputText size="16" maxlength="16" id="optionalText" value="#{episodeBean.dataObject['optionalText']}" />
</h:panelGroup>
<h:panelGroup styleClass="col-lg-6">
</h:panelGroup>
</h:panelGroup>

</h:panelGroup>
</h:panelGroup>

<p:commandButton styleClass="btn btn-success" ajax="false" type="submit" value="#{msg.savebutton}" action="#{episodeBean.save}" />
<p:commandButton styleClass="btn btn-danger" ajax="false" immediate="true" type="submit" value="#{msg.cancel}" action="#{sessionBean.goMainPatientPage()}" />			


<h:outputStylesheet name="css/bootstrap-clockpicker.min.css" target="head" />
<h:outputStylesheet name="css/bootstrap-datetimepicker.min.css" target="head" />
    
</ui:composition>
</body>
</html>
