<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      >
<body>
<ui:composition>
<ui:fragment rendered="#{sessionBean.showEpisodeCarousel()}">

<h:form prependId="false">

<hr />
<h:panelGroup style="font-size: 30px">
    Episodes <h:panelGroup styleClass="counter">(#{sessionBean.currentCase.episodes.size()})</h:panelGroup>
</h:panelGroup>
<h:panelGroup styleClass="actions" style="vertical-align: super;">

                        <ui:repeat var="item" value="#{formviewer.contextMenuList}">
                                <ui:fragment rendered="#{item.sure == 'true'}">
                                    <h:commandLink onclick="return confirm('#{item.confirmText}')" actionListener="#{formviewer.goTo(item.link)}" styleClass="button filter" style="margin: 8px;">
                                            <i class="fa #{item.icon}"></i> #{item.text}</h:commandLink>
                                            
                                </ui:fragment>

                                <ui:fragment rendered="#{!item.sure }">
                                    <h:commandLink actionListener="#{formviewer.goTo(item.link)}" styleClass="button filter" style="margin: 8px;">
                                            <i class="fa #{item.icon}"></i> #{item.text}</h:commandLink>
                                </ui:fragment>
                        </ui:repeat>
                            
<!-- 	<h:link href="" styleClass="button filter">Filter</h:link> -->


</h:panelGroup>

<ui:fragment rendered="#{sessionBean.currentCase.episodes.size() > 0}">

<h:panelGroup layout="block" styleClass="clearfix"></h:panelGroup>

<h:panelGroup style="background-color: #ccc;" layout="block" id="episode-slider">
<ui:repeat id="theVisits" var="item" value="#{sessionBean.currentCase.episodes}">
    <h:commandLink rendered="#{!sessionBean.hasCurrentEpisode()}" action="#{sessionBean.switchEpisode(item)}" title="#{item.name}" styleClass="tab #{item.allFormsStatusText()}" style="transform: scale(1.0);">#{item.name}<br />#{item.optionalText}</h:commandLink>
    <h:commandLink rendered="#{sessionBean.hasCurrentEpisode()}" action="#{sessionBean.switchEpisode(item)}" title="#{item.name}" styleClass="tab #{item.allFormsStatusText()}" >#{item.name}<br />#{item.optionalText}</h:commandLink>
</ui:repeat>
</h:panelGroup>


<c:if test="#{sessionBean.showEpisodeCarousel()}">
<h:outputScript target="body">
        $(document).ready(function(){
            $('#episode-slider').slick({
        slidesToScroll: 1,
        centerMode: true,
        centerPadding: '60px',
        infinite: false,
        dots: false,
        slide: 'a',
        variableWidth: true,
                  initialSlide: #{sessionBean.currentPositionCurrentEpisodeInCurrentCase},
                });
        });
</h:outputScript>
</c:if>
</ui:fragment>

</h:form>

</ui:fragment>

</ui:composition>
</body>
</html>
