<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="#{sessionBean.language}"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
    xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<f:metadata>
    <f:viewParam name="form" value="#{sessionBean.form}" />
    <c:if test="#{sessionBean.currentCase == null}">
        <f:viewAction action="#{sessionBean.goStartPage()}" onPostback="false" />
    </c:if>
</f:metadata>

<f:event type="preRenderView" listener="#{formviewer.init()}" />

<h:head>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <o:conditionalComment if="lt IE 9">
        <h:outputScript library="js" name="html5shiv.min.js" />
        <h:outputScript library="js" name="respond.min.js" />
    </o:conditionalComment>

    <meta name="viewport"
        content="width=device-width, minimum-scale=1, maximum-scale=1" />

    <title>OSSE - #{sessionBean.formtitle}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <h:outputStylesheet library="css" name="flag-icon.min.css" />

    <h:outputStylesheet name="osse.css" library="css" />
    <h:outputStylesheet name="bootstrap.css" library="css" />
    <h:outputStylesheet name="bootstrap-theme.css" library="css" />
    <h:outputStylesheet name="slick.css" library="css" />
    <h:outputStylesheet name="mixins_and_variables.css" library="css" />
    <h:outputStylesheet name="nav.css" library="css" />
    <h:outputStylesheet name="pages.css" library="css" />
    <h:outputStylesheet name="media_queries.css" library="css" />
    <h:outputStylesheet name="css/font-awesome.css"
        library="font-awesome" />
    <h:outputStylesheet name="buttons.css" library="css" />
    <h:outputStylesheet name="fonts.css" library="css" />

    <h:outputStylesheet name="jquery.dataTables.css" library="css" />

    <h:outputScript library="primefaces" name="jquery/jquery.js"
        target="head" />
    <h:outputScript library="js" name="bootstrap.min.js" target="head" />
    <h:outputScript library="js" name="slick.min.js" target="head" />
    <h:outputScript library="js" name="scripts.js" target="head" />

    <h:outputScript library="js" name="jquery.dataTables.min.js"
        target="head" />
    <h:outputScript name="js/moment.min.js" target="head" />
    <h:outputScript name="js/datatable.datetime-moment.js" target="head" />
    <h:outputScript library="js" name="recordTable.js" />

</h:head>

<h:body styleClass="index">
    <c:set var="querySearchViewer" value="#{sessionBean.showQueryResult()}" />
    <c:set var="isBridgehead" value="#{applicationBean.isBridgehead()}" />
    <c:set var="doesMainzellisteWantIdat" value ="#{applicationBean.doesMainzellisteWantIdat()}" />
    <f:view contentType="text/html" locale="#{sessionBean.locale}">
        <h:panelGroup layout="block" styleClass="ossepagewrapper">
            <p:growl id="growl" showDetail="true" sticky="false"
                autoUpdate="true" globalOnly="true" />

            <nav id="nav"> <h:panelGroup layout="block"
                styleClass="container">
                <ui:include src="/components/navbar_left.xhtml" />

<c:if test="#{!querySearchViewer}">
                <ui:include src="/components/navbar_right.xhtml" />
</c:if>
            </h:panelGroup> </nav>

            <h:panelGroup layout="block" id="patient">
                <h:panelGroup layout="block" styleClass="container">
                    <h:form styleClass="pidForm">
                        <div>
                            <h2 style="display: inline">
                                <h:commandLink
                                    action="#{sessionBean.goMainPatientPage()}">
                                    <ui:fragment
                                        rendered="#{!isBridgehead and !sessionBean.currentPatient.isImported() and doesMainzellisteWantIdat}">
                                        <ui:fragment
                                            rendered="#{sessionBean.showIDATOfCurrentPatient()}">
                                            <h:panelGroup
                                                id="idLastName"
                                                pt:data-tempid="#{sessionBean.currentPatient.pseudonym}"
                                                pt:data-subject="nachname" />, 
                                            <h:panelGroup
                                                id="idatFirstName"
                                                pt:data-tempid="#{sessionBean.currentPatient.pseudonym}"
                                                pt:data-subject="vorname" />
                                        </ui:fragment>
                            (<h:panelGroup id="idatPID"
                                            pt:data-tempid="#{sessionBean.currentPatient.pseudonym}"
                                            pt:data-subject="pid" />)
                                    </ui:fragment>
                                    <ui:fragment
                                        rendered="#{!isBridgehead and !sessionBean.currentPatient.isImported() and !doesMainzellisteWantIdat}">
                                        <h:panelGroup
                                                id="noIdatPatientId"
                                                pt:data-tempid="#{sessionBean.currentPatient.pseudonym}"
                                                pt:data-subject="patientId" />
                                    </ui:fragment>
                                    <ui:fragment
                                        rendered="#{isBridgehead or sessionBean.currentPatient.isImported()}">
                            #{sessionBean.currentPatient.patientID}
                        </ui:fragment>
                                </h:commandLink>
                            </h2>
                            <h:panelGroup
                                rendered="#{ applicationBean.hasPatientForms() and formviewer.mayCreatePatientAccount() and !applicationBean.isBridgehead() and !sessionBean.currentRole.isPatientRole() and sessionBean.showIDATOfCurrentPatient() and applicationBean.largerThanVersion(1.2)}"
                                style="vertical-align: super;">
                                <h:commandLink styleClass="button"
                                    value="Enable patient self-reporting"
                                    action="#{userBean.enablePatientAccount()}"
                                    rendered="#{!sessionBean.currentPatient.isActivatedUser()}" />
                                <ui:fragment
                                    rendered="#{sessionBean.currentPatient.isActivatedUser()}">
                                    <h:commandLink styleClass="button"
                                        value="Reset password for patient"
                                        action="#{formviewer.redirectToForm('patientaccount')}" />
                                    <h:commandLink styleClass="button"
                                        value="Disable patient self-reporting"
                                        action="#{userBean.deletePatientAccount()}" />
                                </ui:fragment>
                            </h:panelGroup>
                        </div>

                    </h:form>
                    <h:panelGroup
                        rendered="#{sessionBean.showIDATOfCurrentPatient() and !sessionBean.currentPatient.isImported() and doesMainzellisteWantIdat}"
                        layout="block"
                        styleClass="birth float-left first">*<h:panelGroup
                            id="idatBirthDay"
                            pt:data-tempid="#{sessionBean.currentPatient.pseudonym}"
                            pt:data-subject="geburtstag"
                            pt:data-postProcess="formatDateNumber" />.<h:panelGroup
                            id="idatBirthMonth"
                            pt:data-tempid="#{sessionBean.currentPatient.pseudonym}"
                            pt:data-subject="geburtsmonat"
                            pt:data-postProcess="formatDateNumber" />.<h:panelGroup
                            id="idatBirthYear"
                            pt:data-tempid="#{sessionBean.currentPatient.pseudonym}"
                            pt:data-subject="geburtsjahr" />
                    </h:panelGroup>
                    <h:panelGroup layout="block" styleClass="actions">
                    </h:panelGroup>

                    <ui:fragment
                        rendered="#{applicationBean.hasEpisodeForms()}">
                        <ui:include
                            src="/components/episodeCarouselOSSE.xhtml" />
                    </ui:fragment>
                    <hr />
                    <h:panelGroup layout="block"
                        styleClass="general_documents">
                        <ui:fragment
                            rendered="#{sessionBean.isCurrentFormMedical()}">
                            <h:panelGroup layout="block"
                                class="clearfix formheader">
                                    #{msg.patient_form}
                                </h:panelGroup>
                        </ui:fragment>
                        <h:panelGroup layout="block"
                            styleClass="table clearfix">

                            <h:panelGroup layout="block"
                                styleClass="left" id="left_formtabs">
                                <ui:fragment
                                    rendered="#{sessionBean.isCurrentFormMedical()}">

                                    <ui:repeat var="item"
                                        value="#{sessionBean.navigationPatientForms}">
                                        <ui:fragment
                                            rendered="#{item.url != 'nowhere' and item.subitem != 'subitem'}">
                                            <h:panelGroup layout="block"
                                                styleClass="tab #{sessionBean.isPatientForm(item.url)} #{sessionBean.isActiveForm(item.url)} #{item.iconText}">
                                                <h4
                                                    class="canBeEllipsed">
                                                    <h:link
                                                        value="#{item.text}"
                                                        outcome="index.xhtml?form=#{item.url}" />
                                                </h4>
                                                <h:panelGroup pt:title="Patient-Reported Outcome" rendered="#{applicationBean.isPatientForm(item.url)}" styleClass="label label-default hasTooltip">PRO</h:panelGroup>
                                                <h:form prependId="false">
                                                <h:panelGroup styleClass="state">
                                                    <h:outputText
                                                        value="#{item.iconText}" />
                                                
                                                    <h:panelGroup rendered="#{sessionBean.isActiveForm(item.url) == 'active' and formviewer.mayChangeStatusOfCurrentForm()}" >
                                                        
                                                            <h:outputLink
                                                                title="#{ossemsg['change_status']}"
                                                                value="javascript:void(0)"
                                                                onclick="PF('changeFormStatusDialog').show();"
                                                                styleClass="statusbutton button save filter hasTooltip">
                                                                <h:panelGroup
                                                                    styleClass="fa fa-edit" />
                                                            </h:outputLink>
                                                            
                                                    </h:panelGroup>
                                                           
                                                </h:panelGroup>
                                                <h:panelGroup styleClass="stateChangeButton" rendered="#{sessionBean.isActiveForm(item.url) == 'active'}">
                                                        <h:outputLink title="#{ossemsg['show_comments']}" value="javascript:void(0)" styleClass="statusbutton button save filter hasTooltip" style="right: 0;" id="commentBtn" rendered="#{formviewer.hasFormComments()}" >
                                                            <h:panelGroup
                                                                    styleClass="fa fa-comments" />
                                                            </h:outputLink>
                                                    </h:panelGroup> 
                                                <ui:include src="/components/formcomments.xhtml" />
                                                
                                                </h:form>
                                            </h:panelGroup>
                                        </ui:fragment>
                                    </ui:repeat>
                                </ui:fragment>
                            </h:panelGroup>
                            <h:panelGroup layout="block"
                                styleClass="right">
                                <h:form prependId="false"
                                    styleClass="iseditable">

                                    <c:if
                                        test="#{sessionBean.getForm() !='' and sessionBean.getForm() != null}">
                                        
                                        
                                        
                                        <ui:include
                                            src="/forms/#{sessionBean.form}.xhtml" />
                                    </c:if>
                                    <h:panelGroup layout="block"
                                        styleClass="sticky_bar"
                                        id="stickyButtonBar">
                                        <h:panelGroup layout="block"
                                            styleClass="actions">
                                            <ui:fragment
                                                rendered="#{sessionBean.hasCurrentPatient() and sessionBean.isCurrentFormMedical()}">

                                                <ui:fragment
                                                    rendered="#{sessionBean.mayWriteCurrentForm()}">
                                                    <ui:include
                                                        src="/components/commonFormButtons.xhtml" />
                                                </ui:fragment>

                                            </ui:fragment>

                                        </h:panelGroup>
                                    </h:panelGroup>
                                </h:form>

                            </h:panelGroup>


                        </h:panelGroup>
                    </h:panelGroup>

                </h:panelGroup>
            </h:panelGroup>


            <h:outputScript library="js" name="dslib/authorization.js" />
            <h:outputScript library="js" name="dslib/tempIdResolver.js" />
            <h:outputScript library="js"
                name="dslib/mainzellisteResolver.js" />
            <h:outputScript library="js"
                name="dslib/netApiConnection.js" />
            <h:outputScript library="js" name="dslib/tempIdCache.js" />
            <h:outputScript library="js"
                name="dslib/webStorageTempIdCache.js" />
            <h:outputScript target="body">
            tempIdResolver = tempIdResolverConstructor({useDefaultResolver:"mainzellisteResolver",
                mainzellisteURL:"#{sessionBean.getMainzellisteRESTURL()}"});
            $(document).ready(function() {
                  tempIdResolver.resolve();
            });
        </h:outputScript>



        </h:panelGroup>

        <ui:include src="/components/dialogFormStatus.xhtml" />

    </f:view>
</h:body>

</html>