<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  lang="#{sessionBean.language}"  
xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" 
        xmlns:f="http://java.sun.com/jsf/core" >

<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<title>OSSE - JavaScript is disabled</title>

</h:head>
<h:body>

<script type="text/javascript">
    var url = "#{sessionBean.basedir}login.xhtml";
    // IE8 and lower fix
    if (navigator.userAgent.match(/MSIE\s(?!9.0)/))
    {
        var referLink = document.createElement("a");
        referLink.href = url;
        document.body.appendChild(referLink);
        referLink.click();
    }

    // All other browsers
    else { window.location.replace(url); }
</script>

    <f:view  locale="#{sessionBean.locale}">

    <div id="container">
    <div class="ui-widget ui-widget-content ui-corner-all" style="width: 700px;margin-left: auto; margin-right: auto; margin-top: 100px;">
    <div id="loginTitleDiv" class="ui-widget-header ui-corner-all" style="padding: 5px;">No Javascript
    </div>
    <div class="ui-widget-content" style="padding: 10px;">
        <div style="width: 640px; margin-left: auto; margin-right: auto;">
        
<div style="background: white">
        <p>
            <h3>JavaScript is deactivated or blocked</h3>
            In order to use OSSE, JavaScript must be available. 
        </p>
        <p>
            Please perform the following steps:
            <div style="margin-left: 20px;">
            <table>
<tr><td>
1. Enable JavaScript in your webbrowser, and allow the usage of it for these pages.
</td></tr>
<tr><td>

2. Reload the page <a href="#{sessionBean.basedir}">#{sessionBean.basedir}</a>.
</td></tr>
</table>
</div>
</p>
</div>
        </div>
    </div>
</div></div>



    </f:view>
</h:body>
</html>