<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="#{sessionBean.language}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:of="http://omnifaces.org/functions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<f:metadata>
    <f:viewParam name="showDeleted" value="#{patientBean.showDeleted}"/>

    <c:if test="#{sessionBean.showQueryResult()}">
        <f:viewAction action="#{sessionBean.goStartPage()}" onPostback="false"/>
    </c:if>
</f:metadata>

<h:head>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta name="viewport"
          content="width=device-width, minimum-scale=1, maximum-scale=1"/>

    <title>#{ossemsg.osse_list_of_patients}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <o:conditionalComment if="lt IE 9">
        <h:outputScript library="js" name="html5shiv.min.js"/>
        <h:outputScript library="js" name="respond.min.js"/>
    </o:conditionalComment>

    <h:outputStylesheet library="css" name="flag-icon.min.css"/>

    <h:outputStylesheet name="osse.css" library="css"/>
    <h:outputStylesheet name="bootstrap.css" library="css"/>
    <h:outputStylesheet name="bootstrap-theme.css" library="css"/>
    <h:outputStylesheet name="slick.css" library="css"/>
    <h:outputStylesheet name="mixins_and_variables.css" library="css"/>
    <h:outputStylesheet name="nav.css" library="css"/>
    <h:outputStylesheet name="pages.css" library="css"/>
    <h:outputStylesheet name="media_queries.css" library="css"/>
    <h:outputStylesheet name="css/font-awesome.css" library="font-awesome"/>
    <h:outputStylesheet name="buttons.css" library="css"/>
    <h:outputStylesheet name="fonts.css" library="css"/>
    <h:outputStylesheet name="theme.bootstrap.css" library="css"/>

    <h:outputStylesheet name="jquery.dataTables.css" library="css"/>

    <h:outputScript library="js" name="clipboard.min.js"/>
    <h:outputScript library="primefaces" name="jquery/jquery.js"/>
    <h:outputScript library="js" name="bootstrap.min.js"/>
    <h:outputScript library="js" name="slick.min.js"/>
    <h:outputScript library="js" name="scripts.js"/>

    <!-- Datatable stuff with date time sorter ability -->
    <h:outputScript library="js" name="jquery.dataTables.min.js"/>
    <h:outputScript library="js" name="date-de.js"/>
    <h:outputScript library="js" name="patientlist.js"/>
</h:head>

<h:body styleClass="index patientlist">
    <c:set var="isBridgehead" value="#{applicationBean.isBridgehead()}"/>
    <c:set var="doesMainzellisteWantIdat" value="#{applicationBean.doesMainzellisteWantIdat()}"/>
    <f:view contentType="text/html" locale="#{sessionBean.locale}">

        <p:growl id="growl" showDetail="true" globalOnly="true" sticky="false" autoUpdate="true"/>
        <nav id="nav">
            <h:panelGroup layout="block" styleClass="container">
                <ui:include src="/components/navbar_left.xhtml"/>

                <ui:include src="/components/navbar_right.xhtml"/>
            </h:panelGroup>

        </nav>


        <h:panelGroup layout="block" id="patientlist">
            <h:panelGroup layout="block" styleClass="container">
                <h:form prependId="false">
                    <h:panelGroup
                            style="font-size: 30px; color: white;">#{ossemsg.list_of_patients} #{patientBean.getShowDeleted()=='1'?msg.deleted_patients2:''}

                        <h:panelGroup styleClass="counter">(#{fn:length(patientBean.patients)})
                            <!--<h:commandLink rendered="#{patientBean.filterPatientsBy != null}" style="margin: 8px;" styleClass="button add" action="#{patientBean.filterPatientsByFormStatus('all')}">#{msg.show_all_patients}</h:commandLink>-->
                            <!--<h:commandLink rendered="#{patientBean.filterPatientsBy != 'open'}" style="margin: 8px;" styleClass="button add" action="#{patientBean.filterPatientsByFormStatus('open')}">#{msg.show_only_patients_with_open_forms}</h:commandLink>-->
                            <!--<h:commandLink rendered="#{patientBean.filterPatientsBy != 'reported'}" style="margin: 8px;" styleClass="button add" action="#{patientBean.filterPatientsByFormStatus('reported')}">#{msg.show_only_patients_with_reported_forms}</h:commandLink>-->
                        </h:panelGroup>


                    </h:panelGroup>

                    <h:panelGroup>
                        <h:panelGroup style="color: #fff; font-weight: bold;">Filter:
                        </h:panelGroup>
                        <ui:fragment>
                            <h:selectOneMenu id="filter" value="null"
                                             valueChangeListener="#{patientBean.filterPatientsByFormStatusChanged}"
                                             onchange="submit()" style="width:150px">
                                <f:selectItem itemLabel="#{ossemsg.filter_all_patient}" itemValue="null"/>
                                <f:selectItem itemLabel="#{ossemsg.filter_open_patient}" itemValue="open"/>
                                <f:selectItem itemLabel="#{ossemsg.filter_reported_patient}" itemValue="reported"/>
                            </h:selectOneMenu>
                        </ui:fragment>
                    </h:panelGroup>

                </h:form>
                <h:panelGroup styleClass="actions" style="vertical-align: super;">
                    <ui:fragment rendered="#{!isBridgehead}">
                        <h:form prependId="false">
                            <h:commandLink style="margin: 8px;" styleClass="button add"
                                           action="#{patientBean.goAddPatient()}"
                                           rendered="#{sessionBean.mayCreatePatients and patientBean.getShowDeleted()!='1'}"><i
                                    class="fa fa-plus"></i> #{msg.link_newpatient}</h:commandLink>
                            <h:commandLink style="margin: 8px;" styleClass="button add" target="_new_osse_export_window"
                                           action="#{applicationBean.goTeilerExport()}"
                                           rendered="#{applicationBean.hasMdrEntities() and sessionBean.mayExport and patientBean.getShowDeleted()!='1'}"><i
                                    class="fa fa-arrow-circle-down"></i> #{msg.export_data}</h:commandLink>
                            <h:outputLink style="margin: 8px;" styleClass="button add hasTooltip"
                                          title="#{of:format1(ossemsg['show_deleted_patients.tooltip'], patientBean.amountDeletedPatients)}"
                                          rendered="#{sessionBean.mayCreatePatients and patientBean.amountDeletedPatients > 0 and patientBean.getShowDeleted()!='1'}"
                                          value="?showDeleted=1" id="list_deleted_patients">
                                <i class="fa fa-trash-o"></i> #{msg.deleted_patients} <h:panelGroup
                                    styleClass="badge trashBadge">#{patientBean.amountDeletedPatients}</h:panelGroup>
                            </h:outputLink>
                            <h:commandLink style="margin: 8px;" styleClass="button add"
                                           action="#{sessionBean.goStartPage()}" id="backto_list_patients"
                                           rendered="#{patientBean.getShowDeleted()=='1'}"><i
                                    class="fa fa-arrow-left"></i> #{msg.backToPatientlist}
                            </h:commandLink>
                        </h:form>
                    </ui:fragment>
                    <h:panelGroup layout="block" styleClass="clearfix"></h:panelGroup>

                </h:panelGroup>
                <h:form prependId="false">
                    <h:dataTable rendered="#{!empty patientBean.patients}" value="#{patientBean.patients}" var="o"
                                 id="patientlist_sortable"
                                 styleClass="display patientListTable recordTable#{empty patientBean.patients?' empty':''}">

                        <h:column style="width:40em">
                            <f:facet name="header">
                                <ui:fragment rendered="#{!isBridgehead and doesMainzellisteWantIdat}">
                                    Name (PID)
                                </ui:fragment>
                                <ui:fragment rendered="#{isBridgehead or !doesMainzellisteWantIdat}">
                                    Identifier
                                </ui:fragment>
                            </f:facet>

                            <h:commandLink disabled="#{o.isDeleted}" action="#{sessionBean.switchPatientByList(o)}">

                                <ui:fragment rendered="#{!isBridgehead}">
                                    <!--#{o.pseudonym}-->
                                    <ui:fragment rendered="#{!o.isImported and doesMainzellisteWantIdat}">
                                        <ui:fragment rendered="#{o.showIdat}">
                                            <h:panelGroup id="idatLastName" pt:data-tempid="#{o.pseudonym}"
                                                          pt:data-subject="nachname"/>,
                                            <h:panelGroup id="idatFirstName" pt:data-tempid="#{o.pseudonym}"
                                                          pt:data-subject="vorname"/>
                                        </ui:fragment>
                                        (
                                        <h:panelGroup id="idatPID" pt:data-tempid="#{o.pseudonym}"
                                                      pt:data-subject="pid"/>
                                        )
                                    </ui:fragment>

                                    <ui:fragment rendered="#{!o.isImported and !doesMainzellisteWantIdat}">
                                        <h:panelGroup id="noIdatPatientId" pt:data-tempid="#{o.pseudonym}"
                                                      pt:data-subject="patientId"/>
                                    </ui:fragment>

                                    <ui:fragment rendered="#{o.isImported}">
                                        <h:outputText value="#{o.patientID}"/>
                                    </ui:fragment>

                                </ui:fragment>

                                <ui:fragment rendered="#{isBridgehead}">
                                    #{o.patientID}
                                </ui:fragment>
                            </h:commandLink>

                            <span class="fa fa-files-o clipboard" title="#{ossemsg['copy_pseudonym']}"></span>

                        </h:column>


                        <h:column style="width:20em" rendered="#{!isBridgehead and doesMainzellisteWantIdat}">
                            <f:facet name="header">
                                #{msg.birthdate}
                            </f:facet>
                            <ui:fragment rendered="#{o.showIdat and !o.isImported}">
                                <h:panelGroup id="idatBirthDay" pt:data-tempid="#{o.pseudonym}"
                                              pt:data-subject="geburtstag"
                                              pt:data-postProcess="formatDateNumber"/>.<h:panelGroup id="idatBirthMonth"
                                                                                                     pt:data-tempid="#{o.pseudonym}"
                                                                                                     pt:data-subject="geburtsmonat"
                                                                                                     pt:data-postProcess="formatDateNumber"/>.<h:panelGroup
                                    id="idatBirthYear" pt:data-tempid="#{o.pseudonym}" pt:data-subject="geburtsjahr"/>
                            </ui:fragment>
                        </h:column>


                        <h:column style="width:20em">
                            <f:facet name="header">#{msg.location}</f:facet>
                            <h:outputText>#{o.location}</h:outputText>
                        </h:column>


                        <h:column style="width:5em" rendered="#{!isBridgehead}">

                            <f:facet name="header">
                                #{msg.action}
                            </f:facet>

                            <ui:fragment
                                    rendered="#{o.showIdat and o.mayWrite and patientBean.getShowDeleted()!='1' and !o.isImported}">
                                <h:commandLink action="#{patientBean.editPatientAction(o)}"
                                               title="#{ossemsg['edit_patient']}">
                                    <h:panelGroup styleClass="fa fa-edit"/>
                                </h:commandLink>
                                &#160;&#160;
                            </ui:fragment>

                            <ui:fragment rendered="#{o.mayUnDeleteCase}">
                                <p:commandLink actionListener="#{patientBean.setToUnDeletePatient(o)}"
                                               onclick="PF('confirmationUnDeletePage').show()">
                                    <h:panelGroup styleClass="fa fa-undo"/>
                                </p:commandLink>
                            </ui:fragment>

                            <ui:fragment rendered="#{o.mayDeleteCase}">
                                <p:commandLink action="#{patientBean.setToDeletePatient(o)}"
                                               onclick="PF('confirmationDeletePage').show()"
                                               title="#{ossemsg['delete_patient']}">
                                    <h:panelGroup styleClass="fa fa-trash-o"/>
                                </p:commandLink>
                            </ui:fragment>
                        </h:column>


                    </h:dataTable>

                </h:form>
            </h:panelGroup>
        </h:panelGroup>

        <p:confirmDialog id="deletePatientConfirmPage" message="#{msg.confirm_delete_patient}"
                         header="#{msg.confirm_delete_patient_title}" severity="alert"
                         widgetVar="confirmationDeletePage">
            <h:form prependId="false">
                <p:commandButton id="killPatientYes" type="submit" ajax="false" value="#{msg.confirm_switch_executor}"
                                 action="#{patientBean.toggleCase(true)}" onclick="confirmationDeletePage.hide()"/>
                <p:commandButton id="declinePatientDelete" value="#{msg.formbutton_import_no}"
                                 onclick="PF('confirmationDeletePage').hide()" type="button"/>
            </h:form>
        </p:confirmDialog>
        <p:confirmDialog id="undeletePatientConfirmPage" message="#{msg.confirm_undelete_patient}"
                         header="#{msg.confirm_undelete_patient_title}" severity="alert"
                         widgetVar="confirmationUnDeletePage">
            <h:form prependId="false">
                <p:commandButton id="undeletePatientYes" type="submit" ajax="false"
                                 value="#{msg.confirm_switch_executor}" action="#{patientBean.toggleCase(false)}"
                                 onclick="confirmationUnDeletePage.hide()"/>
                <p:commandButton id="declinePatientUnDelete" value="#{msg.formbutton_import_no}"
                                 onclick="PF('confirmationUnDeletePage').hide()" type="button"/>
            </h:form>
        </p:confirmDialog>

        <ui:fragment rendered="#{!applicationBean.isBridgehead() and !empty patientBean.patients}">
            <h:outputScript library="js" name="dslib/authorization.js"/>
            <h:outputScript library="js" name="dslib/tempIdResolver.js"/>
            <h:outputScript library="js" name="dslib/mainzellisteResolver.js"/>
            <h:outputScript library="js" name="dslib/netApiConnection.js"/>
            <h:outputScript library="js" name="dslib/tempIdCache.js"/>
            <h:outputScript library="js" name="dslib/webStorageTempIdCache.js"/>
        </ui:fragment>

        <h:outputScript rendered="#{isBridgehead and !empty patientBean.patients}" target="body">
            $(document).ready(function() {
            $('#patientlist_sortable').DataTable({
            columnDefs: [
                { targets: 0, "defaultContent":"" },
                { targets: 1, "defaultContent":"" }
            ],
            language: {
                "url":"javax.faces.resource/js/datatable_#{sessionBean.language}.json"
            }

            });
            });
        </h:outputScript>

        <h:outputScript rendered="#{!isBridgehead and !empty patientBean.patients}" target="body">

            sortPatientTable = function() {
            $('#patientlist_sortable').DataTable().destroy();

                $('#patientlist_sortable').dataTable({
                    columnDefs: [
                        // Action column
                        { targets: -1, searchable: false, orderable: false },
                        //Name(PID) column
                        {targets: 0, "defaultContent": "", type: 'yesnoidat'},
                        //Date column
                        {targets: 1, "defaultContent": "", type: 'de_date'},


            ],
                    language: {
                        "url":"javax.faces.resource/js/datatable_#{sessionBean.language}.json"
                    }
                });
            }

            tempIdResolver = tempIdResolverConstructor({useDefaultResolver:"mainzellisteResolver",
            mainzellisteURL:"#{sessionBean.getMainzellisteRESTURL()}"});

            $(document).ready(function() {
            tempIdResolver.resolve(sortPatientTable);
            });


        </h:outputScript>

        <!--<h:outputScript rendered="#{!isBridgehead and doesMainzellisteWantIdat and !empty patientBean.patients}" target="body">-->

        <!--sortPatientTable = function() {-->
        <!--$('#patientlist_sortable').DataTable().destroy();-->

        <!--$('#patientlist_sortable').dataTable({-->
        <!--columnDefs: [-->
        <!--{ type: 'de_date', targets: 1 },-->
        <!--{ targets: -1, searchable: false, orderable: false },-->
        <!--{ targets: 0, type: 'yesnoidat' }-->
        <!--],-->
        <!--language: {-->
        <!--"url":"javax.faces.resource/js/datatable_#{sessionBean.language}.json"-->
        <!--}-->
        <!--});-->
        <!--}-->

        <!--tempIdResolver = tempIdResolverConstructor({useDefaultResolver:"mainzellisteResolver",-->
        <!--mainzellisteURL:"#{sessionBean.getMainzellisteRESTURL()}"});-->
        <!---->
        <!--$(document).ready(function() {-->
        <!--tempIdResolver.resolve(sortPatientTable);-->
        <!--});-->
        <!---->
        <!---->
        <!--</h:outputScript>-->

    </f:view>
</h:body>

</html>
