<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="#{sessionBean.language}"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:p="http://primefaces.org/ui">

<f:metadata>
    <c:if test="#{sessionBean.showQueryResult()}">
        <f:viewAction action="#{sessionBean.goStartPage()}" onPostback="false" />
    </c:if>
</f:metadata>

<h:head>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport"
        content="width=device-width, minimum-scale=1, maximum-scale=1" />

    <title>#{msg.your_profile_header}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <o:conditionalComment if="lt IE 9">
        <h:outputScript library="js" name="html5shiv.min.js" />
        <h:outputScript library="js" name="respond.min.js" />
    </o:conditionalComment>

    <h:outputStylesheet library="css" name="flag-icon.min.css" />

    <h:outputStylesheet name="osse.css" library="css"/>
    <h:outputStylesheet name="bootstrap.css" library="css"/>
    <h:outputStylesheet name="bootstrap-theme.css" library="css"/>
    <h:outputStylesheet name="slick.css" library="css"/>
    <h:outputStylesheet name="mixins_and_variables.css" library="css"/>
    <h:outputStylesheet name="nav.css" library="css"/>
    <h:outputStylesheet name="pages.css" library="css"/>
    <h:outputStylesheet name="media_queries.css" library="css"/>
    <h:outputStylesheet name="css/font-awesome.css" library="font-awesome"/>
    <h:outputStylesheet name="buttons.css" library="css" target="head"/>
    <h:outputStylesheet name="fonts.css" library="css" target="head"/>
    
    <h:outputScript library="primefaces" name="jquery/jquery.js"/>
    <h:outputScript library="primefaces" name="jquery/jquery-plugins.js"/>
    <h:outputScript library="js" name="bootstrap.min.js" />
    
</h:head>

<h:body styleClass="index">
    <f:view contentType="text/html" locale="#{sessionBean.locale}">


<p:growl id="growl" showDetail="true" sticky="false" globalOnly="true" autoUpdate="true"/> 
        <nav id="nav">
        <h:panelGroup layout="block" styleClass="container">
            <ui:include src="/components/navbar_left.xhtml" />
            <ui:include src="/components/navbar_right.xhtml" />
        </h:panelGroup>

        </nav>



<h:panelGroup layout="block" id="profile">
  <h:panelGroup layout="block" styleClass="container">
    <h:panelGroup layout="block" styleClass="row">
      <h:panelGroup layout="block" styleClass="col-md-12">
        <h1>#{msg.your_profile}</h1>
        <h:form prependId="false">
            <h:commandLink styleClass="button add" action="#{sessionBean.goStartPage()}" id="backto_list_patients"><i class="fa fa-arrow-left"></i> #{msg.backToPatientlist}</h:commandLink>
        </h:form>
        <hr />
      </h:panelGroup>
    </h:panelGroup>
    <h:panelGroup layout="block" styleClass="row">
      <h:panelGroup layout="block" styleClass="col-md-1">
      </h:panelGroup>
      <h:panelGroup layout="block" styleClass="col-md-10">

<ui:fragment rendered="#{sessionBean.hasMultipleRoles()}">				
<h:panelGroup layout="block" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-heading">
<h4>Select Default Role</h4><small>You may define your default role being selected on login.</small>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">
<h:form prependId="false">

<h:selectOneMenu styleClass="#{!component.valid ? 'error':''}" requiredMessage="#{msg.required}" required="true" value="#{profileBean.formParam['defaultRole']}" id="defaultrole" name="defaultrole">
        <f:selectItems value="#{sessionBean.roleList}"/>
</h:selectOneMenu>

<h:commandLink style="margin-left: 10px;" styleClass="btn btn-success" type="submit" value="Set default role" action="#{profileBean.setDefaultRole}" />
</h:form>
</h:panelGroup>
</h:panelGroup>
</ui:fragment>


<h:panelGroup layout="block" styleClass="panel panel-default">
<h:panelGroup layout="block" styleClass="panel-heading">
<h4>#{msg.link_pwchange_other}</h4>
<small>#{msg.pwchange_description}</small>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="panel-body">
<h:form prependId="false">

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="currentpassword">#{msg.currentpassword}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputSecret styleClass="#{!component.valid ? 'error':''}" id="currentpassword" name="currentpassword" value="#{profileBean.formParam['currentpassword']}" validator="Password"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="currentpassword" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="password">#{msg.password}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputSecret feedback="true" styleClass="#{!component.valid ? 'error':''}" id="password" name="password" value="#{profileBean.formParam['password']}" validator="Password"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="password" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:panelGroup layout="block" styleClass="row">
<h:panelGroup layout="block" styleClass="col-md-2">
<h:outputLabel for="password_repeat">#{msg.password_repeat}:</h:outputLabel>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:inputSecret styleClass="#{!component.valid ? 'error':''}" id="password_repeat" name="password_repeat" value="#{profileBean.formParam['password_repeat']}" validator="Password"/>
</h:panelGroup>
<h:panelGroup layout="block" styleClass="col-md-4">
<h:message for="password_repeat" class="error" />
</h:panelGroup>
</h:panelGroup>

<h:commandLink style="margin-top: 5px;" styleClass="btn btn-success" type="submit" value="#{msg.link_pwchange}" action="#{profileBean.changePassword}" />
            
</h:form>
</h:panelGroup>
</h:panelGroup>

      </h:panelGroup>
      <h:panelGroup layout="block" styleClass="col-md-1">
      </h:panelGroup>
    </h:panelGroup>

  </h:panelGroup>
</h:panelGroup>

<h:outputScript library="js" name="dslib/authorization.js" />
            <h:outputScript library="js" name="dslib/tempIdResolver.js" />
            <h:outputScript library="js"
                name="dslib/mainzellisteResolver.js" />
            <h:outputScript library="js"
                name="dslib/netApiConnection.js" />
            <h:outputScript library="js" name="dslib/tempIdCache.js" />
            <h:outputScript library="js"
                name="dslib/webStorageTempIdCache.js" />
            <h:outputScript target="body">
            tempIdResolver = tempIdResolverConstructor({useDefaultResolver:"mainzellisteResolver",
                mainzellisteURL:"#{sessionBean.getMainzellisteRESTURL()}"});
            $(document).ready(function() {
                  tempIdResolver.resolve();
            });
        </h:outputScript>
    </f:view>
</h:body>

</html>